<!DOCTYPE html>

<html>

<head>
    <title>Teams</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <img class = "portrait" src="/img/biju.jpg" alt="">
        <img class = "portrait" src="/img/bij.jpg" alt="">
        <img class = "portrait" src="/img/kal.jpg" alt="">
        <img class = "portrait" src="/img/sev.jpg" alt="">
        <img class = "portrait" src="/img/vish.jpg" alt="">

    </div>
    
    {{>footer}}
</body>

</html>